.wrapper {
    position: fixed;
    bottom: 60px;
}

.isWrapperClose {
    left: -202px;
    transition: left 0.5s ease-in-out;
}

.isWrapperOpen {
    left: 0px;
    transition: left 0.5s ease-in-out;
}

:global(body.grayscale) {
    filter: grayScale(100%);
    margin-left: 0;
    margin-right: 0;
    will-change: transform;
}

:global(body.contrasthigh) {
    filter: contrast(2);
    margin-left: 0;
    margin-right: 0;
    will-change: transform;
}

:global(body.contrastlow) {
    filter: contrast(0.5);
    margin-left: 0;
    margin-right: 0;
    will-change: transform;
}

:global(body.grayscale-contrasthigh) {
    filter: grayScale(100%) contrast(2);
    margin-left: 0;
    margin-right: 0;
    will-change: transform;
}

:global(body.grayscale-contrastlow) {
    filter: grayScale(100%) contrast(0.5);
    margin-left: 0;
    margin-right: 0;
    will-change: transform;
}

:global(body.bright-background) {
    background: #fff !important;
    color: #000 !important;
}

:global(body.readable-fonts) {
    font-family: Verdana, Arial, Helvetica, sans-serif !important;
}

:global(body a) {
    text-decoration: underline;
    color: blue;
}