.App {
  margin-right: auto;
  margin-left: auto;
}

pre {
  background-color:lightgray;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-right: 0.5em;
  padding-left: 0.5em;
  white-space: pre-wrap; /* Ensures long lines wrap instead of overflowing */
  word-wrap: break-word;  /* Allows long words to break and wrap */
  font-family: 'Courier New', monospace;
  white-space: "pre-line";
}